{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!---LINK CSS-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav-main">
                <img src="{% static 'imagenes/pagina/brand1.png' %}" alt="Tragón Ball Z" class="nav-brand">
            </nav>
            <nav>
                <a href="index.html">Inicio</a>
                <a href="productos.html">Productos</a>
                <a href="promociones.html">Promociones</a>
                <a href="delivery.html">Delivery</a>
                <a href="nosotros.html">Nosotros</a>
            </nav>
            <form action="../../form-result.php" method="post" target="_blank">
                <p>
                  <input type="search" name="busquedaitem" pattern="[A-Za-z0-9]{8,20}" title="Un producto o promoción válida debe estar dentro de sus catálogos pertenecientes" required>
                  <input type="submit" value="Buscar">
                  <a href="{% url 'reg' %}">Registro</a> &nbsp;&nbsp; | &nbsp;
                </p>
            </form>
            <!---Iconos Login y Carro-->
            <section id="iconos">
                <a href="login.html" class="fa-solid fa-user"></a>
                <a href="carro.html" class="fa-solid fa-cart-shopping"></a>
            </section>
        </div>
    </header>
    <hr>

    <!--Portada-->
    <img src="{% static 'imagenes/pagina/gok.png' %}" alt="goku" width="100%" height="700">
    <hr>

    <!--Promociones-->
    <section id="promociones">
        <div class="container">
            <h2>Nuestras Promociones</h2>
            <div class="promos">

            <div class="carta">
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <h3>Promo 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quam facere nisi veniam ad rem odit aliquid aperiam voluptates? Ipsam porro vitae dolorum amet libero voluptatibus eos in autem dolores.</p>
                <button>Agregar al carro</button>
            </div>
            <div class="carta">
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <h3>Promo 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta architecto laboriosam, ad dolore amet! Tenetur ipsam nostrum natus assumenda velit possimus. Error, eveniet earum quibusdam cumque est excepturi eaque.</p>
                <button>Agregar al carro</button>
            </div>
            <div class="carta">
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <h3>Promo 3</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi eius pariatur nihil sint corrupti fugit ratione culpa maiores praesentium asperiores, saepe quas porro quod atque earum dignissimos iste similique.</p>
                <button>Agregar al carro</button>
            </div>
            </div>
        </div>
    </section>
    <hr>

    <!--Delivery-->
    <section id="delivery">
        <form action="delivery.html">
        <h1>Revisa si hay delivery en tu zona</h1>
        <button>Ver zonas</button>
        </form>
    </section>
    <hr>

    <!----Footer-->
    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="">
                        <img src="{% static 'imagenes/pagina/esfera.png' %}" alt="esfera">
                    </a>
                </figure>
            </div>

            <div class="box">
                <h2>Contacto</h2>
                <div class="cont"></div>
                <p>Correo electrónico:</p>
                <a href="mailto:tragonballzpyme@gmail.com">tragonballzpyme@gmail.com</a>
                <p>Número de teléfono:</p>
                <a href= "tel:+56987654321">+569 8765 4321</a>
                <p>Ponte en comunicación con nosotros!</p>
            </div>

            <div class="box">
                <h2>Ayuda pedidos</h2>
                <div class="ayuda">
                    <a href="delivery.html">Localizador de comunas</a>
                    <p></p>
                    <a href="">Carro de compras</a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="grupo-2"></div>
            <small>&copy; 2021 <b>Tragón Ball Z</b> - Todos los derechos reservados.</small>
    </footer>
</body>
</html>
